@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Velkommen @Model.Name</h2>
        

        @if (Model.IsAdmin)
        {
            <h4> Antal Model S: 0</h4>
            <h4> Antal Model X: 100</h4>
            <h4> Antal Model Y: 92</h4>
        }
    </div>
</div>