@page
@model Tesla.Pages.bil.ModelSModel
@{
}
<h1>velkommen den hel nye Model S</h1>
<@*form method="post">
    <div>
        <label >Price:</label>
        <input asp-for="@BilModels.Bil.Model" />
    </div>
</form>*@
<img src=" ~ /images/teslalogo.png" />
